@import './default.scss';
@import './transition.scss';
@import './vant.scss';

body {
  background: #f6f6f6;
  height: 100%;
  -webkit-overflow-scrolling: touch;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: "Microsoft YaHei","微软雅黑";
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app{
  // background: #f6f6f6;
  color: #333;
  margin: auto;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  outline: none;
  text-decoration: none;
}

div:focus{
  outline: none;
 }

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

.let_fixed {
  width: 100%;
  position:fixed;
  z-index:9999;
  transition: .2s ease-in-out;
}

.empty {
  width: 100%;
  background: #fff;
  padding: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 60%;
  }
}

.no_data {
  text-align: center;
  font-size: 14px;
  color: #929292;
  padding: 15px 0;
}

.no_more {
  padding: 10px 0;
  text-align: center;
  font-size: 14px;
  color: #929292;
}