.van-tabbar-item--active, .van-tab--active {
  color: #ff5500;
}

.home, .classify, .friendShip {
  .van-tab {
    flex-basis: 15% !important;
    padding: 0;
  }
}

.home, .classify {
  .van-search {
    padding-right: 30px;
    padding-left: 30px;
  }
}

.friendShip {
  .van-search {
    padding-right: 30px;
    padding-left: 50px;
  }
}

.task {
  .van-tab {
    flex-basis: 16.66% !important;
    padding: 0;
    font-size: 12px;
  }
}
.van-tabs__wrap::after {
  border: none;
}

.van-tabbar--fixed {
  min-height: 50px;
  z-index: 99 !important;
}
.van-tabs__line {
  background-color: #ff5500;
}

.van-dialog__header {
  padding: 10px 0;
  background: #ff5500;
  color: #fff;
}

.van-dialog__confirm {
  color: #ff5500;
}
