.van-tabbar-item--active, .van-tab--active {
  color: #ff5500;
}

.home, .classify, .friendShip {
  .van-tab {
    flex-basis: 15% !important;
    padding: 0;
  }
}

.home, .classify {
  .van-search {
    padding-right: 30px;
    padding-left: 50px;
  }
}


.task {
  .van-tab {
    flex-basis: 16.66% !important;
    padding: 0;
    font-size: 12px;
  }
}
.van-tabs__wrap::after {
  border: none;
}

.van-tabbar--fixed {
  min-height: 50px;
  z-index: 99 !important;
}
.van-tabs__line {
  background-color: #ff5500;
}

.van-dialog__header {
  padding: 10px 0;
  background: #ff5500;
  color: #fff;
}

.van-dialog__confirm {
  color: #ff5500;
}

.van-loading, .van-loading--spinner {
  text-align: center !important;
}

.van-skeleton__content {
  margin: 30px 0;
}

.van-stepper__input[disabled] {
  color: #333;
  background-color: #fff;
}
.van-stepper__input {
  background-color: #fff;
}

.van-toast {
  width: 3.2rem;
  z-index: 9999999 !important;
}