.van-tabbar-item--active {
  color: #ff5500;
}

.van-tab {
  flex-basis: 14% !important;
  padding: 0;
}
.van-tabs__line {
  background-color: #ff5500;
}

.van-dialog__header {
  padding: 10px 0;
  background: #ff5500;
  color: #fff;
}

.van-dialog__confirm {
  color: #ff5500;
}

.van-search {
  padding-right: 30px;
  padding-left: 30px;
}
